/* Grids - http://css-tricks.com/dont-overthink-it-grids/ */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    background: white;
    margin: 0 0 20px 0;
}

    .grid:after {
        /* Or @extend clearfix */
        content: "";
        display: table;
        clear: both;
    }

[class*='col-'] {
    float: left;
    padding-right: 20px;
}

.grid [class*='col-']:last-of-type {
    padding-right: 0;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-1-8 {
    width: 12.5%;
}

/* Opt-in outside padding */
.grid-pad {
    padding: 20px 0 20px 20px;
}

    .grid-pad [class*='col-']:last-of-type {
        padding-right: 20px;
    }
