@model YouConf.Data.Entities.Conference
@{
    ViewBag.Title = "Edit conference";
}

@Html.EditorFor(x => Model)

<div>
    @Html.ActionLink("Cancel", "Details", new { hashTag = Model.HashTag })
</div>

@section SidebarContent{
    <div class="box" style="padding: 0.5em">
        <h2>Tips</h2>
        <p>To enable a live YouTube video feed, you'll need to setup a hangout in Google Hangouts, and then copy the hangout id into the <i>hangout id</i> field on this form. You can find the hangout id at the top of your Hangout window in Google Hangouts. E.g. If the Hangout URL is http://youtu.be/QveFMhmdcA7, the Hangout ID will be QveFMhmdcA7.</p>
        <p>To enable Twitter chat, you'll need to setup a Twitter widget on the <a href="https://twitter.com/settings/widgets" title="Twitter Widgets page" class="no-button">Twitter Widgets page</a> for your chosen hashtag, and then copy the Widget Id into the <i>Twitter widget id</i> field on this form. You can find your Twitter widget Id by going to the Twitter page for your widget, navigating to the section which says "<i>Copy and paste the code into the HTML of your site</i>" and copying the value in the <i>data-widget-id</i> field. It should be a long number such as 331557908192051202.</p>
    </div>
}

@section Scripts{
    @Html.Partial("ConferenceScripts")
}
