@{
    ViewBag.Title = "Search for conferences";
}

@section Scripts{
    @Scripts.Render("~/bundles/ajaxsolr")

    <script>
        var Manager;
        (function ($) {
            $(function () {
                Manager = new AjaxSolr.Manager({
                    solrUrl: 'http://youconfsearchv1.cloudapp.net/solr/'
                });

                Manager.addWidget(new AjaxSolr.ResultWidget({
                    id: 'result',
                    target: '#docs'
                }));

                Manager.addWidget(new AjaxSolr.PagerWidget({
                    id: 'pager',
                    target: '#pager',
                    prevLabel: '&lt;',
                    nextLabel: '&gt;',
                    innerWindow: 1,
                    renderHeader: function (perPage, offset, total) {
                        $('#pager-header').html($('<span></span>').text('Displaying ' + Math.min(total, offset + 1) + ' to ' + Math.min(total, offset + perPage) + ' of ' + total + ' conferences'));
                    }
                }));

                Manager.addWidget(new AjaxSolr.TextWidget({
                    id: 'text',
                    target: '#search'
                }));

                //Manager.addWidget(new AjaxSolr.AutocompleteWidget({
                //    id: 'text',
                //    target: '#search',
                //    fields: ['title']
                //}));

                Manager.init();
                //Manager.store.addByValue('q', '*:*');
                //Manager.doRequest();
            });
        })(jQuery);
    </script>
}

<style>

    #navigation {
        text-align: center;
    }

    #pager,
    #pager-header {
        display: inline;
    }

        #pager li,
        .links li {
            list-style-type: none;
            display: inline;
        }

    #selection {
        padding: 10px 15px 0;
    }

        #selection li {
            list-style-type: none;
        }

    #docs {
        padding-top: 1px;
    }

    em {
        font-weight: bold;
        font-style: normal;
    }
</style>
<style>
    
</style>
<p>Enter the terms to search for. This could include the name of a conference, presentation, speaker, or other keywords.</p>
<p id="search"><input id="query" name="query" autocomplete="off" type="text" class="search-box square"><input type="button" value="Search"></p>
@*<ul id="search">
    <li>
        <input type="text" id="query" name="query" autocomplete="off">
    </li>
</ul>*@
<div id="result">
    <div id="docs"></div>
    <hr class="separator" />
    <div id="navigation">
        <ul id="pager"></ul>
        <div id="pager-header"></div>
    </div>
</div>

@section Sidebar{}