@{
  var returnUrl = String.Empty;
  if (!String.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
  {
      returnUrl = ViewBag.ReturnUrl;
  }
  else
  {
      returnUrl = Request.Url.PathAndQuery;
  }
}
@if (Request.IsAuthenticated) {
    <text>
    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", new { @returnUrl = returnUrl }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { @returnUrl = returnUrl }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
