@model YouConf.Data.Entities.Presentation

<h2>@Model.Name</h2>
<h3>Are you sure you want to remove this presentation?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Remove" /> |
        @Html.ActionLink("Cancel", "Details", "Conference", new { hashTag = (string)ViewBag.ConferenceId }, null)
    </p>
}

